<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.meishu.sdkdemo">

    <uses-sdk tools:overrideLibrary="com.dingmouren.layoutmanagergroup" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 如果需要精确定位的话请加上此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 如果有视频相关的广告且使用textureView播放，请务必添加，否则黑屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".SdkDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <activity android:name=".adactivity.splash.PrepareSplashActivity"></activity>
        <activity android:name=".adactivity.draw.PrepareVideoFeedActivity"></activity>
        <activity android:name=".adactivity.paster.PasterActivity" />
        <activity android:name=".adactivity.rewardvideo.RewardVideoActivity" />
        <activity android:name=".adactivity.feed.NativeRecyclerListSelectActivity" />
        <activity android:name=".adactivity.feed.ImageTextButtonActivity" />
        <activity android:name=".adactivity.feed.ImageTextActivity" />
        <activity android:name=".adactivity.feed.TextAboveImageActivity" />
        <activity android:name=".adactivity.feed.NativeVideoActivity" />
        <activity android:name=".adactivity.feed.ImageNotInRecyclerActivity" />
        <activity android:name=".adactivity.feed.NativeAdSelectActivity" />
        <activity android:name=".adactivity.feed.PreRenderActivity" />
        <activity android:name=".adactivity.feed.SingleRecyclerActivity" />
        <activity android:name=".adactivity.draw.VideoFeedActivity" />
        <activity android:name=".adactivity.interstitial.InterstitialAdActivity" />
        <activity android:name=".adactivity.interstitial.InterstitialAdNewActivity" />
        <activity
            android:name=".adactivity.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".adactivity.splash.SplashAdActivity" />
        <activity android:name=".adactivity.banner.BannerAdActivity" />
        <activity
            android:name=".adactivity.DeeplinkActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="deeplink"
                    android:scheme="meishudemo" />
            </intent-filter>
        </activity>
        <activity android:name=".adactivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 美数 begin -->
        <provider
            android:name="com.meishu.sdk.core.service.MeishuFileProvider"
            android:authorities="${applicationId}.MeishuFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/meishu_file_path" />
        </provider> <!-- 美数 end -->
        <!-- 穿山甲 begin -->
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/csj_file_path" />
        </provider>
        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" /> <!-- 穿山甲 end -->
        <!-- 百度 begin -->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.baidu.mobads.openad.BdFileProvider"
            android:authorities="${applicationId}.bd.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bd_file_path" />
        </provider> <!-- 百度 end -->
        <!-- 广点通 begin -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" /> <!-- 请开发者注意字母的大小写，ADActivity，而不是AdActivity -->
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.qq.e.ads.PortraitADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qq.e.ads.LandscapeADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>
    </application>

</manifest>